.academySection{
    margin: 0px auto;
    padding: 40px 0 180px 0;
    width: 80%;
}
#dark .academySection{
    margin: 0px auto;
    padding: 100px 0 180px 0;
    width: 80%;
}


.academyHeading{
    text-align: center;
    margin-bottom: 50px;    
}
#dark .academyHeading{
    text-align: center;
    margin-bottom: 50px;
}


.academyHeading>span{
    font-size: 23px;
    color: #072a6c;
    font-family: 'Source Sans Pro', sans-serif;  
}
#dark .academyHeading>span{
    font-size: 23px;
    color: #5e87d3;
    font-family: 'Source Sans Pro', sans-serif;
}


.academyHeading>h2{
    padding-top: 20px;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
}
#dark .academyHeading>h2{
    padding-top: 20px;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    color: #f3f3f3;
}


.academyImgOne img{
    width: 100%;
    height: 100%;
    overflow: hidden;   
    /* border: 1px solid black;  */
    position: relative;
}
#dark .academyImgOne img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
}



.academyImage{
    border: 1px solid black;
    /* border-radius: 15px; */
    position: relative;
    overflow: hidden;
}
#dark .academyImage{
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}




.academyImgOne{
    overflow: hidden;   
    position: relative; 

}
#dark .academyImgOne{
    overflow: hidden;
    position: relative;
}



.academyImg{
    display: flex;  
    justify-content: space-between; 
    position: relative;
    transition: 0.4s;
    overflow: hidden;
    gap: 50px;
}
#dark .academyImg{
    display: flex;  
    justify-content: space-between; 
    position: relative;
    transition: 0.4s;
    overflow: hidden;
    gap: 50px;
}



 




.academyImgOne:hover img{
    transform: scale(1.2);
    /* overflow: hidden; */
    transition: 0.4s;
}
#dark .academyImgOne:hover img{
    transform: scale(1.2);
    /* overflow: hidden; */
    transition: 0.4s;
}


.academyHover{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.6);
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: opacity 0.5s;
}
#dark .academyHover{
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.6);
   color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: opacity 0.5s;
}



.academyHover:hover{
    opacity: 1;
}
#dark .academyHover:hover{
    opacity: 1;
}


.academyImage:hover .academyImgOne img{
    transform: scale(1.2);
    transition: 1s;
}
#dark .academyImage:hover .academyImgOne img{
    transform: scale(1.2);
    transition: 1s;
}


.academyHover>span{
    font-size: 28px;
    color: #fff;
}
.academyHover>p{
    font-size: 38px;
    color: #fff;
    font-weight: 700;
}


.academyHover>*{
    transform: translateY(20px);
    transform:  transform 0.5s;

}
#dark .academyHover>*{
    transform: translateY(20px);
    transform:  transform 0.5s;

}




.academyHover:hover>*{
    transform: translateY(-10px)
}
#dark .academyHover:hover>*{
    transform: translateY(-10px)
}








@media(max-width:1200px){
    .academyImg{
        display: block;
    }
    #dark .academyImg{
        display: block;
    }
    .academyImage{
        margin-top: 40px;
    }
    #dark .academyImage{
        margin-top: 40px;
    }
}

@media(max-width:450px){
    .academyImg{
        display: block;
    }
    #dark .academyImg{
        display: block;
    }

    .academySection{
        margin-top: 1200px;
    }
    #dark .academySection{
        margin-top: 1200px;
    }
}