/* .preLoader{
  background: #1C273A url(images/Loading\ gif.gif);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  padding-left: 100px;
} */

#light{
  background-color: white;
}
#dark{
  background-color: #1C273A
}
p{
  /* font-size: 15px; */
  line-height: 21px;
}

